@import '_variables';

.user-layout {
  height: 100%;
}

#user-layout-body {
  margin-top: 3%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}