@import '_variables';

.home-layout {
  background: #ecf1f5;
  height: 100%;

  @media (max-width: $screenL) {
    background: green;
  }
}

#home-layout-body {
  margin-top: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}